.App {
  font-family: sans-serif;
  display: block;
  height: 100%;
  width: 100%;
}
.searchBar {
  width: 90%;
  height: 6em;
  border: 2px solid darkgrey;
  border-radius: 14px;
}
.field {
  height: 4em;
  width: 100em;
  padding: 1em;
}

.form {
  display: flex;
  width: 100em;
  height: 4em;
}
.label {
  width: 100%;
  font-size: 2em;
  margin-left: 0.5em;
}

.input {
  width: 46%;
  font-size: 1em;
  height: 68%;
  margin: 1em;
  resize: horizontal;
}

.item {
  display: flex;
  align-items: center;
  margin: 1em;
  cursor: pointer;
}

.item img {
  max-width: 380px;
  margin-right: 1em;
}

.line {
  width: 100%;
  height: 6px;
  border-bottom: 1px solid lightgray;
  position: relative;
}

.segment {
  height: 7em;
  width: 93%;
  border: 2px solid lightgrey;
  margin: 1em;
  padding: 1em;
  border-radius: 13px;
}

.embed {
  width: 47em;
  height: 30em;
  margin: 1em;
}

.embed iframe {
  width: 100%;
  height: 100%;
  position: relative;
}

.view {
  display: flex;
}
